*
{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    list-style: none;
}

body
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b15ef;
}
table
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}
 tr:nth-child(odd) {background-color: #d2b5fd;} 
td
{
    text-align: center;
}
tr
{
    height: 50px;
    background-color: #d2b5fd;
}
tbody
{
    width: 100%;
}
th
{
    color: white;
    width: 140px;
    font-size: 1rem;
}
 /* table, th, td ,tr
{
    border:0.5px solid black;
}  */
